%tr{:"data-id" => document.id}
  %td{:style => "width: 70px"}
    .thumbnail
      %img{:src => thumbnail_url(document)}
  %td
    %h4.title= item.highlight.try(:[], :title).try(:first).try(:html_safe) || document.title
    .small
      = document.category
      = document._id.generation_time.strftime("%d/%m/%y")
      - if item.highlight && pages = item.highlight.to_hash.keys.grep(/^\d+$/).map { |p| p.to_s.to_i }
        %ul.highlights
          - pages.sort.each do |page_num|
            %li
              %strong= "p.#{page_num}"
              = "..."
              = item.highlight[page_num.to_s].first.gsub("\n", " ").html_safe
    .tools
      .btn-group
        %a.btn.btn-small{:href => "/documents/#{document.id}/comb", :class => (document.readable? ? nil : "disabled")}
          %i.icon-edit{:title => "Editar"}
        -#
          %a.btn.btn-small{:href => "/documents/#{document.id}/map", :class => (document.geocoded? ? nil : "disabled")}
            %i.icon-globe{:title => "Mapa"}
        %a.btn.btn-small{:href => "/documents/#{document.id}/download", :class => (document.readable? ? nil : "disabled")}
          %i.icon-download-alt{:title => "Descargar"}
        -#
          %a.btn.btn-small{:href => "/documents/#{document.id}.csv", :class => (document.exportable? ? nil : "disabled")}
            %i.icon-list-alt{:title => "Exportar a CSV"}
            = "..."
  %td.state
    - if document.processed?
      Finalizado
      .hidden{:style => "display: none;"}
        .progress.progress-striped.active
          .bar{:style => "width: 100%;"}
    - else
      .progress.progress-striped.active
        .bar{:style => "width: #{document.state_to_percentage}%;"}
