-# encoding: utf-8
%header
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => current_page?(documents_path) ? "active" : nil}
        %a{:href => documents_path}= t "documents.documents"
      %li{:class => current_page?(new_document_path) ? "active" : nil}
        %a{:href => new_document_path}= t "documents.new"

.row-fluid
  .content
    .row-fluid
      %h2
        = @search.total
        resultados
    .row-fluid
      %table{:class => 'table documents'}
        %thead
          %tr
            %th{:style => "width: 70px"}
            %th
        %tbody
          - @results.each do |item, document|
            = render "document_row", :item => item, :document => document
    .row-fluid
      = will_paginate @search, :renderer => BootstrapPagination::Rails

- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    %li.nav-header Filtros de búsqueda
    %li
      %ul#filters
        %li.document
          Documento
          %form.navbar-search.pull-left
            %input.search-query{name: "q", value: params[:q], type: "search", placeholder: "Buscar por título o contenido"}
            %button.btn{type: "submit"} Buscar

    %li.nav-header Documentos
    %li.active
      %a Todos los documentos
    %li
      %a Mis documentos
    -#
      %li
        %a Mis documentos publicados

    %li.nav-header Proyectos
