-# encoding: utf-8
- content_for :javascripts do
  = javascript_include_tag "documents.js"

%header
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => current_page?(documents_path) ? "active" : nil}
        %a{:href => documents_path}= t "documents.documents"
      %li{:class => current_page?(new_document_path) ? "active" : nil}
        %a{:href => new_document_path}= t "documents.new"

.row-fluid
  .content.documents
    .row-fluid
      .alert.fade.in.alert-success#stillProcessing{:style => 'display: none;'}
        %a.close{:href => '#', 'data-dismiss' => 'alert'}×
        %strong
          Recuerde que el procesamiento de tareas puede tomar algunos minutos.
    .row-fluid
      %h3
        = @search.total
        resultados
    .row-fluid
      %table{:class => 'table documents'}
        %thead
          %tr
            %th{:style => "width: 70px"}
            %th
        %tbody
          - @results.each do |item, document|
            = render "document_row", :item => item, :document => document
    .row-fluid
      = will_paginate @search, :renderer => BootstrapPagination::Rails

    #addToProjectModal.modal.fade
      .modal-body
        %button.close{type: "button", "aria-hidden" => "hidden", data: {dismiss: "modal"}} &times;
        %form{action: "/", id: "add_to_project_form"}
          %fieldset
            %legend
              Agregar al proyecto
            %select{name: "project_id"}
              - current_user.projects.each do |project|
                %option{value: project.id}
                  = project.name
            %br
            %button.btn#addToProjectButton{type: "submit"}
              Agregar

- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    %li.nav-header Filtros de búsqueda
    %li
      %ul#filters
        %li.document
          Documento
          %form.navbar-search.pull-left
            %input.search-query{name: "q", value: params[:q], type: "search", placeholder: "Buscar por título o contenido"}
            %button.btn{type: "submit"} Buscar

    %li.nav-header Documentos
    %li{:class => params[:mine].to_i == 0 ? "active" : nil}
      = link_to "Todos los documentos", documents_path(params.merge(mine: nil))
    %li{:class => params[:mine].to_i == 1 ? "active" : nil}
      = link_to "Mis documentos", documents_path(params.merge(mine: 1))
    -#
      %li
        = link_to "Mis documentos publicados", documents_path(params.merge(mine: 1, published: 1))

    - if not @projects.empty?
      %li.nav-header Proyectos
      - @projects.each do |project|
        %li{:class => params[:project_id] == project.id.to_s ? "active" : nil}
          = link_to documents_path(params.merge(project_id: project.id, mine: nil)) do
            = project.name
          - if project.documents.count > 0
            %ul.project-docs
              - project.documents.each do |document|
                %li= document.title

    %li.nav-header Contexto
    %li
      #context
        .alert.alert-info
          Haga clic en un documento para ver más información


%script#documentContextError{:type => "text/template"}
  .alert.alert-error
    Ocurrió un error al obtener información de contexto del documento.

%script#documentContext{:type => "text/template"}
  = render 'context_tabs'

