- content_for :javascripts do
  = javascript_include_tag "documents.js"
%script#documentContextError{:type => "text/template"}
  .alert.alert-error
    Ocurrió un error al obtener información de contexto del documento.

%script#documentContext{:type => "text/template"}
  %h4 {{ heading }}
  = render 'context_tabs'

%script#documentRowTemplate{:type => 'text/template'}
  {{#documents}}
  %tr{:"data-id" => '{{id}}'}
    %td{:style => "width: 70px"}
      %img{src: '{{{thumbnail}}}'}
    %td
      .title= '{{title}}'
      .tools
        .btn-group
          %a.btn{:href => '/documents/{{id}}/comb', :class => "{{^readable}}disabled{{/readable}}"}
            %i.icon-edit{:title => "Editar"}
          %a.btn{:href => '/documents/{{id}}/map', :class => "{{^geocoded}}disabled{{/geocoded}}"}
            %i.icon-globe{:title => "Mapa"}
          %a.btn{:href => '/documents/{{id}}/download', :class => "{{^readable}}disabled{{/readable}}"}
            %i.icon-download-alt{:title => "Descargar"}
          %a.btn{:href => '/documents/{{id}}.csv', :class => "{{^exportable}}disabled{{/exportable}}"}
            %i.icon-list-alt{:title => "Exportar a CSV"}
    %td
      = '{{category}}'
    %td
      = '{{{generation_time}}}'
    %td.state
      {{#completed}}
      Finalizado
      {{/completed}}
      {{^completed}}
      .progress.progress-striped.active
        .bar{:style => "width: {{percentage}}%;"}
      {{/completed}}
  {{/documents}}

.row-fluid
  .content.span7
    .row-fluid
      .alert.fade.in.alert-success#stillProcessing{:style => 'display:none;'}
        %a.close{:href => '#', 'data-dismiss' => 'alert'}×
        %strong
          Recuerde que el procesamiento de tareas puede tomar algunos minutos.
    .row-fluid
      %table{:class => 'table documents', :id => 'sorteable'}
        %thead
          %tr
            %th{:style => "width: 70px"}
            %th
              %a{:href => '#', "data-sort" => "name"}Título
            %th
              %a{:href => '#', "data-sort" => "name"}Tipo
            %th
              %a{:href => '#', "data-sort" => "date"}Fecha
            %th
              %a{:href => '#', "data-sort" => "status"}Estado
        %tbody
          - @documents.each do |document|
            = render "document_row", :document => document

  .sidebar.with-scrollbar.span5{:style => "background-color: #fff; border: 0"}
    .with-scrollbar-inner#document
      %h4
        Haga clic en un documento para ver más información
