.row-fluid
  .span4
    %h1 Importar documento
    = simple_form_for @document do |f|
      = f.input :title
      = f.input :description
      = f.input :category, :collection => %w(Alegato Articulo Fundamentos Pericia Sentencia Testimonio Veredicto otro)
      = f.button :submit
